*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cabin', sans-serif;
    font-size: 1.5rem;
}

.flex{
    display: flex;
}

.width-75{ 
    width: 75%;
}

.position{  
    align-items: center;
    justify-content: center;
}

.border{
    border: 4px black dashed;   
}

header{
    width: 100%;
}

.header1{
    background-color: #255ee9;
    height: 14%;    
}

nav{
    height: 65%;
    
}

.small-section{
    flex-grow: 2;
    height: 100%;
    align-items: center;
    padding: 10px;
}

.links{
    flex-grow: 6;
    height: 100%;
    align-items: center;
    justify-content: center;   
}

.gap{
    gap: 50px;
}

.ul-navbar{       
    list-style-type: none;
    justify-content: space-between;  
    color: white; 
    font-size: 1.2rem;
}

.button{
    border: none;
    border-radius: 36px;
    padding: 10px 15px;
    font-weight: 600;
}

.button-white{
    background-color: white;
    color: black;
}

.button-white-small{   
    font-size: 1rem;
}

.row-reverse{
    flex-direction: row-reverse;
}

.header2{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 86%;
    padding-top: 100px;
    padding-bottom: 150px;
}

.big-pink{
    width: 48%;
    text-align: center;
    color: white;
}

.presentation-title{
    padding-top: 40px;
    font-size: 4rem;
}

.presentation{
    font-weight: 700;
    line-height: 38px;
    padding-top: 40px;
}

.buttons{
    justify-content: center;
    padding-top: 30px;
}

.button-black{
    background-color: black;
    color: white;
    margin-left: 25px;
}

.big-button{ 
    font-size: 1.2rem;
    padding: 15px 30px;
    font-weight: 700;
}

.blue-pink{
    padding: 100px 0;
    width: 100%;
    align-items: center;
}

.bg-white{
    background-color: white;
}

.square-blue-pink{
    width: 70%;
    align-items: center;
}

.square-blue{
    width: 65%;}


.square-pink{
    padding-top: 40px;
    padding-right: 90px;
    width: 35%; 
}

h2{
    font-weight: 700;
    font-size: 3.3rem;
    line-height: 60px
}

p{
    font-size: 1.4rem;
    padding-top: 40px;
}

.bg-gray{
    background-color: #f6f6f6;
}


.big-background{
    padding-top: 100px;
    padding-bottom: 150px;
    width: 100%;
}

.green-square{
    width: 75%;
    text-align: center;
}

.green-square p{
    padding: 40px 190px 0;
}

.big-img{
    width: 1200px;
}

.download{
    justify-content: center;
}

.stars{
    width: 600px;
}

h3{
    font-size: 2.15rem;
    font-weight: 600;
    line-height: 2px;
}

.button-lilac{
    background-color: #8ea1e1;
    margin-top: 60px;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 18px 36px;
}

footer{
    width: 100%;
    background-color: #23272A;
    flex-direction: column;
    justify-content: space-between;
}

.upper-footer{
    width: 100%;
    justify-content: center;
    padding-bottom: 40px;
}

.square-peach-teal{ 
    width: 70%;
    padding-top: 75px;
}

.square-peach{
    width: 33%;
}

h4{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 45px;   
    color: #7188da;
    padding-bottom: 20px;
}

.flag{
    width: 1.7rem;
}

.italiano{
    color: white;
    font-size: 0.93rem;
    padding-left: 2.2px;
}

.social-icon{
    width: 2.5rem;
    margin-top: 1.2rem;
    padding-right: 18px;
}

.square-teal{
    width: 67%;
}

.flex-teal-child{
    flex-grow: 1; 
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 35px;
} 

h5{   
    color: #7188da;
    font-size: 1.2rem;
}

.ul-footer{
    list-style-type: none;
    color: white;
}

.white-border{
    border: 4px white dashed;
}

.gray-line{
    height: 2px;
    width: 70%;
    background-color: #7188da;
    display: block;
    margin: auto;
}

.footer-wrapper{  
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 100px;
}

.bottom-footer{
    height: 50px;
    width: 70%;  
    justify-content: space-between;
}

.button-last{
    background-color: #7188da;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

/*
.text{
    color: black;
    background-color: #FFB6C1;
    height: 50%;
    width: 100px;
    justify-content: center;
    align-items: center;
}